body{
    background-color: rgb(196, 196, 196);
    margin: 0;
}
.encabezado, .div1{
    display: block;
    border: 10px;
}
#encabezado{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#encabezado h1{
    width: 600px;
    display: flex;
    justify-content: start;
}
.post {
    background: aliceblue;
    position: relative;
    width: 600px;
    height: auto;
    margin: 50px auto 0;
}
.phototitle {
    float: left;
    padding-left: 15px;
}
.photodate {
    float: right;
    padding-right: 15px;
    color: rgb(173, 171, 171);
}
.photo {
    width: 100%;
}
.photocomment {
    font-size: large;
    padding: 15px;
}